<div class="page-container"><span class="filter-toolbar">
    <mat-form-field>
      <mat-label>Filter By App Name</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search by AppName" #appNameInput />
    </mat-form-field>
    <mat-divider vertical></mat-divider>
    <mat-form-field>
      <mat-label>Filter Environments</mat-label>
      <input matInput (keyup)="filterColumn($event)" placeholder="Filter Column by Env Name" #envColumnInput />
    </mat-form-field>
    <mat-divider vertical></mat-divider>
    <mat-form-field *ngIf="envForm">
      <mat-label>Select Environments</mat-label>
      <mat-select [formControl]="envForm" multiple>
        <mat-checkbox [checked]="isAllSelected()" [indeterminate]="isIndeterminate()" (click)="toggleSelectAll()" class="select-all-option">
          Select All
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let env of envs" [value]="env">{{ env.toUpperCase() }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider vertical></mat-divider>
    
    <button mat-raised-button
            color="primary" 
            (click)="openBulkDeployDialog()" 
            [disabled]="isLoading || isCountdownLoading || !dataTableApps.length"
            matTooltip="Deploy multiple applications from one environment to another"
            class="bulk-deploy-btn">
      <mat-icon>rocket_launch</mat-icon>
      Bulk Deploy
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="setView(isCountdownView() ? 'status' : 'countdown')"
      [disabled]="isLoading || isCountdownLoading"
      matTooltip="Switch to the live certificate and app registration countdown table"
      class="countdown-btn">
      <mat-icon>{{ isCountdownView() ? 'monitoring' : 'timer' }}</mat-icon>
      {{ isCountdownView() ? 'Status View' : 'Count Down' }}
    </button>
  </span>

  <section class="mat-elevation-z8 table-section-wrapper">
    <div class="horizontal-scroll-container">
      <div class="vertical-scroll-content">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="onSortData($event)"
          *ngIf="environmentsFilterForProject && !isCountdownView()">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>NO.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
          </ng-container>
          <!-- App Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-icon svgIcon="app"></mat-icon> APPLICATION
            </th>
            <td mat-cell *matCellDef="let element">
              <div>
                <b>{{ element.app_name }} &nbsp;&nbsp;</b>
                <mat-icon matTooltip="open Repo" matTooltipPosition="below" *ngIf="element.app_repo" svgIcon="github" (click)="goToRepos(element.app_repo)">
                </mat-icon>
              </div>
              <mat-basic-chip><i>{{ element ? element.portfolio : " " }}</i></mat-basic-chip>
            </td>
          </ng-container>

          <!-- Environment Column Template -->
          <ng-container *ngFor="let env of environmentsFilterForProject" [matColumnDef]="env.name">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-raised-button (click)="openEnvInfoDialog(projectName, env.name)">
                {{ env.displayName }}
              </button>
              <div>
                <app-sort-button (dataEmitter)="sortTableBy($event, env.name)"></app-sort-button>
                <button mat-icon-button color="basic" matTooltip="Download Env Details" matTooltipPosition="right" (click)="downloadCSV(env.name)">
                  <mat-icon svgIcon="csv"></mat-icon>
                </button>
              </div>
            </th>
            <td mat-cell matRipple matTooltip="{{ element.app_name }}" matTooltipPosition="left" *matCellDef="let element">
              <app-status-icons-tag-links [appDeployDetails]="element[env.name]" [env]="env.name" [app]="element"></app-status-icons-tag-links>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ appNameInput.value }}"
            </td>
          </tr>
        </table>

        <table mat-table [dataSource]="filteredCountdownRows" *ngIf="environmentsFilterForProject && isCountdownView()">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>NO.</th>
            <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
          </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="countdown-name-column">
                <mat-icon svgIcon="certificate"></mat-icon> CERTS/ APP REGISTRATION/ APP
              </th>
              <td mat-cell *matCellDef="let row" class="countdown-name-column">
                <div class="countdown-name-cell">
                  <b>{{ row.appName }}</b>
                  <mat-basic-chip><i>{{ formatAppType(row.appType) }}</i></mat-basic-chip>
              </div>
            </td>
          </ng-container>

          <ng-container *ngFor="let env of environmentsFilterForProject" [matColumnDef]="env.name">
            <th mat-header-cell *matHeaderCellDef>
              <div class="countdown-env-header">{{ env.displayName }}</div>
            </th>
            <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="getCountdownEntry(row, env.name) as countdownEntry; else noCountdown">
                <div
                  class="countdown-clock"
                  [class.expired]="isExpired(countdownEntry.expiryDate)"
                  [class.urgent]="isUrgent(countdownEntry.expiryDate)">
                  <span class="clock-time">{{ getCountdownDisplay(countdownEntry.expiryDate) }}</span>
                  <span class="clock-type">{{ formatAppType(countdownEntry.appType) }}</span>
                  <span class="clock-meta">{{ getCountdownMeta(countdownEntry.expiryDate) }}</span>
                </div>
              </ng-container>
              <ng-template #noCountdown>
                <div class="countdown-empty">--</div>
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; trackBy: trackByCountdownRow"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No countdown data matching the filter "{{ appNameInput.value }}"
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="isLoading || isCountdownLoading" class="loading-spinner-overlay">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="1000" strokeWidth="8">
      </mat-progress-spinner>
    </div>
  </section>
</div>
