@use "@angular/material" as mat;
$blue-palette: mat.define-palette(
  (
    50: #dbe3ea,
    100: #b6c6d5,
    200: #8fa8bf,
    300: #688aa9,
    400: #4a7397,
    500: #34495e,
    600: #2f4256,
    700: #28394c,
    800: #213043,
    900: #151f30,
    A100: #b2c8e5,
    A200: #809ecf,
    A400: #4d73b9,
    A700: #3558a1,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #f6f6f6,
      400: #f6f6f6,
      500: #f6f6f6,
      600: #f6f6f6,
      700: #f6f6f6,
      800: #f6f6f6,
      900: #f6f6f6,
      A100: #000000,
      A200: #f6f6f6,
      A400: #f6f6f6,
      A700: #f6f6f6,
    ),
  )
);

$yellow-palette: mat.define-palette(
  (
    50: #fff9e0,
    100: #ffefb3,
    200: #ffe580,
    300: #ffda4d,
    400: #ffd126,
    500: #f1c40f,
    600: #d6af0e,
    700: #b8940c,
    800: #99780a,
    900: #735607,
    A100: #fff7cc,
    A200: #ffeaa3,
    A400: #ffd269,
    A700: #ffc64f,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #f6f6f6,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #f6f6f6,
    ),
  )
);

$grey-palette: mat.define-palette(
  (
    50: #f2f2f2,
    100: #d9d9d9,
    200: #bfbfbf,
    300: #a6a6a6,
    400: #8c8c8c,
    500: #aaaaaa,
    600: #919191,
    700: #777777,
    800: #5e5e5e,
    900: #3f3f3f,
    A100: #dddddd,
    A200: #cccccc,
    A400: #bbbbbb,
    A700: #999999,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #f6f6f6,
      500: #f6f6f6,
      600: #f6f6f6,
      700: #f6f6f6,
      800: #f6f6f6,
      900: #f6f6f6,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #f6f6f6,
    ),
  )
);
